<div class="container" id="container">
	
	
	<div class="form-container sign-in-container">
		<form class="login" (ngSubmit)="onSubmit()">
			<h1 style="margin-bottom: 15%;">Sign in</h1>
			<input
			[(ngModel)]="credentials.username"
			name="username"
			type="username" placeholder="Username" required="required" />
			<input 
			[(ngModel)]="credentials.password"
			name="password"
			type="password" placeholder="Password" required="required"/>


			<a routerLink="/forget">Forgot your password?</a>
            <a routerLink="/signup">Create New Account!</a>

<br>

            
			<button type="submit"  style="cursor:pointer;">Sign In</button>
		</form>
		
	</div>

</div>

